body {
  box-sizing: border-box;
  font-family: Helvetica;
  font-size: 16px;
  line-height: 1.3;
}
h1 {
  padding: 0.25em;
  font-size: 1.5em;
  font-weight: bold;
  color: #009;
  background-color: #DDF;
}

.block {
  float: left;
  width: 5em;
  height: 1.3em;
  margin: 1em;
  padding: 0.5em;
  background-color: #9d9;
  border: 1px solid #9d9;
}
.block:hover {
  height: 5em;
  background-color: #8c8;
  border: 1px solid black;
  text-transform: uppercase;
  -webkit-transform: rotate( -45deg );
  
  -webkit-transition: height 2s, -webkit-transform 1s;
}